@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FF6F61;
  --color-button: #FF9161;
  --color-txt-primary: #212121;
  --color-txt-secondary: #757575;
  --color-bg-main: #F5F7FA;
  --color-soft-gray: #F0F0F0;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-bg-main text-txt-primary font-sans;
  }
}

@keyframes melayang {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.animate-melayang {
  animation: melayang 2s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}